/* This is for the heading */
body{
  background-color: antiquewhite;
}
h1{
  font-size: 60px;
  text-align: center;
  outline: 4px rgb(236, 77, 15) dotted;
  background-color:rgb(127, 42, 127);
}

.M{
  font-size: 90px;
  color:red;
  font-family: monospace;
  font-stretch: expanded;
  outline: 4px rgb(247, 3, 3) dotted;
  margin-right: 5px;
  background-color: aliceblue;
}

.C{
  font-size: 90px;
  color: rgb(39, 39, 213);
  font-family: monospace;
  font-stretch: expanded;
  outline: 4px blue dotted;
  margin-right: 5px;
  margin-left: 10px;
  background-color: aliceblue;
}

.R{
  font-size: 60px;
}

/* This is for the text */
.Text{
  background-color: rgb(224, 207, 241);
  color: rgb(59, 40, 40);
  font-size: 40px;
  width: 800px;
  height: 90px;
  position: absolute;
  top: 185px;
  outline: 4px rgb(236, 77, 15) dotted;
  margin-left: 400px;
}

.Read{
  background-color: rgb(224, 207, 241);
  color: rgb(59, 40, 40);
  font-size: 30px;
  width: 800px;
  height: 70px;
  position: absolute;
  top: 185px;
  outline: 4px rgb(236, 77, 15) dotted;
  margin-left: 400px;
  margin-top: 500px;
}

.Instruction{
  background-color: rgb(224, 207, 241);
  color: rgb(59, 40, 40);
  font-size: 30px;
  width: 800px;
  height: 340px;
  position: absolute;
  top: 185px;
  outline: 4px rgb(236, 77, 15) dotted;
  margin-left: 400px;
  margin-top: 130px;
}

.pic2{
  margin-left: 1300px;
  width: 300px;
  top: 170px;
  position: absolute;
}

.Proceed{
  margin-left: 1300px;
  font-size: 50px;
  margin-top: 200px;
  position: absolute;
}

/* This is for "Start" */
.Design{
  font-size: 50px;
  text-align: center;
  font-family: fantasy;
  color: rgb(236, 77, 15);
  padding: 30px;
  width: 500px;
  background-color: cadetblue;
  text-decoration: dashed;
  margin-left: 50px;
  outline: 4px rgb(236, 77, 15) dotted;
  position: absolute;
}

/* This is for the image1 (try now!) */
.trythis{
  width: 400px;
  height: 150px;
  margin-left: 600px;
  position: absolute;
  top: 170px;
}

/* This is for the canvas */
canvas{
  margin-left: 500px;
  margin-top: 30px;
  outline-style: solid;
  outline: 4px rgb(236, 77, 15) dotted;
  position: absolute;
  top:310px;
}